body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Navbar */

.navbar {
  background-color: #003366;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffd700;
}

/* Hero Section */

.hero {
  text-align: center;
  margin-top: 0;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 22px;
  margin-bottom: 20px;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0055aa;
}

input,
select {
  width: 300px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}